{% extends 'myauth/base.html' %}

{% block title %}
  About me
{% endblock %}

{% block body %}
  <h1>User info</h1>
  <div>
    {% if user.userprofile.avatar %}
      <img src="{{ user.userprofile.avatar.url }}" alt="{{ user.username }}'s avatar" style="width: 100px; height: 100px;">
    {% else %}
      <p>No avatar uploaded yet</p>
    {% endif %}
  </div>
  <div>
    <p>Username: {{ user.username }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
  </div>
  <h2>Edit Profile</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token%}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>  
{% endblock %}
